/* .bag {
    display:block;
    height: 50px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid red;
    
  } */


  .bg_service{
    position: relative;
    background: url(../../bg-exp.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    height: 90vh;
}