.bg_about{
    position: relative;
    background: url(./../../bg-about.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.abou-title::after{
    content: "";
    width: 140px;
    height: 4px;
    display: block;
    margin:10px;
    background-color: blue;
}