.header{
    position: relative;
    background: url(./../../bg2.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.header > h1{
    text-transform: uppercase;
    color: white;   
}

/* */