.app::before{
  display: block;
  content: "";
  height: 60px;
}

.bg_about{
  position: relative;
  background: url(./bg-about.jpg) no-repeat ;
  background-size: cover;
  background-position: center;
  height: 90vh;
}